h2 {
    display: inline-block;
}

button {
    float: right;
    border-radius: 10px;
    background-color: rgb(56, 189, 233);
    font-size: 16px;
    margin-right:5px;
}

.clientCard-button {
    float: right;
    border-radius: 10px;
    background-color: rgb(56, 189, 233);
    font-size: 16px;
    margin-right:5px;
    display: flex;
    justify-content: flex-end;
}

button:hover{
    background-color: rgb(255, 65, 97);
}

.clientButtons{
    justify-content: stretch;
    margin-left: auto;
    order: 2;
}


.clientCard{
    background-color: lightblue;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    padding: 2% 0;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 5px;
    position: relative;
    box-shadow: 5px 5px 15px black;
    display: flex;
    align-items: center;

    
    
}

.clientCard:hover{
    background-color: pink;
}

.clientCardSelected{
    background-color: pink;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    padding: 2% 0;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 5px;
    position: relative;
    box-shadow: 5px 5px 15px black;
    display: flex;
    align-items: center;

    
}



.invoiceCard{
    background-color: lightblue;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    margin-left: 10px;
    font-size: 10px;
    border-radius: 5px;
    height: 50px;
    padding: 2% 0;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 5px;
    position: relative;
    box-shadow: 5px 5px 15px black;

}

.invoiceCard:hover{
    background-color: pink;
}

.invoiceCardSelected{
    background-color: pink;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    margin-left: 10px;
    font-size: 10px;
    border-radius: 5px;
    height: 50px;
    padding: 2% 0;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 5px;
    position: relative;
    box-shadow: 5px 5px 15px black;

}

.invoicesText{
    margin-left: 20px;

}

.itemCard{
    background-color: lightblue;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    margin-left: 10px;
    font-size: 10px;
    border-radius: 5px;
    height: 50px;
    padding: 2% 0;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 5px;
    position: relative;
    box-shadow: 5px 5px 15px black;

}

.itemCard:hover{
    background-color: pink;
}

.await{
    color: white;
    margin-left: 40px;
    font-size: 35px;
}

.newClientForm{
    background-color: lightgreen;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
    font-size: 16px;
    border-radius: 5px;
    height: 60px;
    padding: 2% 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 15%;
    vertical-align: middle;
    line-height: 3px;
    position: relative;
    box-shadow: 5px 5px 15px black;

}

.newInvoiceForm{
    background-color: lightgreen;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
    font-size: 16px;
    border-radius: 5px;
    height: 120px;
    padding: 2% 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 15%;
    vertical-align: middle;
    line-height: 3px;
    position: relative;
    box-shadow: 5px 5px 15px black;

}

.newItemForm{
    background-color: lightgreen;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
    font-size: 16px;
    border-radius: 5px;
    height: 120px;
    padding: 2% 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 15%;
    vertical-align: middle;
    line-height: 3px;
    position: relative;
    box-shadow: 5px 5px 15px black;

}


.modal {
    font-size: 12px;
    width: 400px;
  }
  .modal > .header {
    width: 400px;
    border-bottom: 1px solid gray;
    font-size: 24px;
    text-align: center;
    padding: 10px;
  }
  .modal > .content {
    width: 400px;
    padding: 10px 5px;
    text-align: center;

  }
  .modal > .actions {
    width: 400px;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .content {
      font-size: 18px;
  }

  .submit {
    float: right;
    display:block;
    border-radius: 10px;
    background-color:gray;
    font-size: 16px; 
    color: white;   
}

.clientName{
    text-align: left;
    margin-left: 5%;
    position: relative;
    display: flex;
    justify-items: flex-start;
}

.form{
    vertical-align: middle;
}

.shopper{
    margin-top:3%;
    height: 80%;
    display: block;
    float: left;
    position: relative;
    width: 34%;

}

.clientSummaryText{
    position: relative;
    width: 64%;
    height: 80%;
    line-height: 1em;
}

.clientSummary{
    background-color: white;
    display: block;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
    font-size: 16px;
    border-radius: 5px;
    height: 100px;
    padding: 0 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 15%;
    line-height: 3px;
    position: relative;
    box-shadow: 5px 5px 15px black;   
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
  }

  .modal {
    position: fixed;
    display: block;
    width: 40%;
    height: 12%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    top: 45%;
    left: 30%;
    right: 0;
    bottom: 0;
    background-color: rgba(180, 180, 180, 1);
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 0 100px lightsteelblue;
    border-radius: 5px;
  }

  #overlay-invoices {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
  }

  .modal-invoices {
    position: fixed;
    display: block;
    width: 40%;
    height: 18%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    top: 45%;
    left: 30%;
    right: 0;
    bottom: 0;
    background-color: rgba(180, 180, 180, 1);
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 0 100px lightsteelblue;
    border-radius: 5px;
  }

  #overlay-items {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
  }

  .modal-items {
    position: fixed;
    display: block;
    width: 40%;
    height: 20%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    top: 45%;
    left: 30%;
    right: 0;
    bottom: 0;
    background-color: rgba(180, 180, 180, 1);
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 0 100px lightsteelblue;
    border-radius: 5px;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }