h2 {
    display: inline-block;
}

button {
    float: right;
    border-radius: 10px;
    background-color: rgb(56, 189, 233);
    font-size: 16px;
    margin-right:5px;
}

button:hover{
    background-color: rgb(255, 65, 97);
}


.card{
    background-color: lightblue;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    border-radius: 5px;
    padding: 2% 0;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 5px;
    font-size: 16px;
    position: relative;
    box-shadow: 5px 5px 15px black;
    display: flex;
    align-items: center;
}


.cardButtons{
    justify-content: stretch;
    margin-left: auto;
    order: 2;
}

.card:hover{
    background-color: pink;
}

.cardSelected{
    background-color: pink;
}

.clientCard{
    height: 30px;
    width: 80%;
    padding: 2% 0% 2% 10%;
}

.invoiceCard{
    height: 60px;
    text-align: left;
}

.invoiceCard:hover{
    background-color: pink;
}

.invoicesText{
    margin-left: 20px;
    line-height: 20px;
}

.await{
    color: white;
    margin-left: 40px;
    font-size: 35px;
}

.formStyle{
    background-color: lightgreen;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
    font-size: 16px;
    border-radius: 5px;
    padding: 2% 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 15%;
    vertical-align: middle;
    line-height: 3px;
    position: relative;
    box-shadow: 5px 5px 15px black;
}

.clientForm{
    height: 60px;
}

.invoiceForm{
    height: 120px;
}

.itemForm{
    height: 120px;
}


.clientSummaryText{
    position: relative;
    width: 64%;
    height: 80%;
    line-height: 1em;
}

.clientSummary{
    background-color: white;
    display: block;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
    font-size: 16px;
    border-radius: 5px;
    height: 100px;
    padding: 0 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 15%;
    line-height: 3px;
    position: relative;
    box-shadow: 5px 5px 15px black;   
}

.shopper{
    margin-top:3%;
    height: 80%;
    display: block;
    float: left;
    position: relative;
    width: 34%;
}


/***********************************/
/* overlay styling */
/***********************************/

.modal {
    font-size: 14px;
    position: fixed;
    display: block;
    width: 40%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    top: 45%;
    left: 30%;
    right: 0;
    bottom: 0;
    background-color: rgb(212, 212, 212);
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 0 50px lightsteelblue;
    border-radius: 5px;
}

.clientModal{
    height: 20%;
}

.invoiceModal{
    height: 23%;
}

.itemModal{
    height: 25%;
}