.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-image: linear-gradient(rgba(180, 180, 180, 0.8), rgba(180, 180,180, 0.8)), url("./img/pattern.jpg");
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.background{
  background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)), url("./img/shoppin1.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
  background-attachment: fixed;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
 
}

.col-4{
  width:32%;
}

.heading{
    /* text-align: center; */
  padding: 0 30%; 
  color: white;
  background-color:#5164da;
  border-color: white;
  border: 3px;
  margin-left: 29px;
  width: 28%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px black;

}

